@charset "utf-8";
html {
    color: #000;
    background: #fff;
    overflow-y: scroll;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%
}

html * {
    outline: 0;
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

html,
body {
    font-family: "Microsoft Yahei", Microsoft JhengHei, Hiragino Sans GB, NotoSans-Regular, Helvetica, Arial, sans-serif
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
t sup {
    top: -.5em
}

sub {
    bottom: -.25em
}

d,
hr,
button,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    margin: 0;
    padding: 0
}

input,
select,
textarea {
    font-size: 100%
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

fieldset,
img {
    border: 0
}

abbr,
acronym {
    border: 0;
    font-variant: normal
}

del {
    text-decoration: line-through
}

address,
caption,
cite,
code,
dfn,
em,
th,
var {
    font-style: normal;
    font-weight: 500
}

ol,
ul {
    list-style: none
}

caption,
th {
    text-align: left
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: 500
}

q:before,
q:after {
    content: ''
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

a:hover {
    text-decoration: underline
}

ins,
a {
    text-decoration: none
}

img {
    max-width: 100%;
}

body {
    max-width: 10.0rem;
    margin: 0 auto;
    font-family: "Microsoft YaHei";
}

header {
    width: 10.0rem;
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    background: #0e73d2;
}

header img {
    width: 8.65625rem;
    height: 1.453125rem;
}

.banner {
    width: 10.0rem;
    height: 6.53125rem;
    background: url(../img/banner.jpg)no-repeat;
    background-size: 10.0rem 6.515625rem;
}

.section2 {
    width: 10.0rem;
    padding: 0px 0.3125rem;
}

.pub-title {
    width: 9.375rem;
    text-align: center;
}

.pub-title img {
    width: 9.375rem;
    height: 1.8125rem;
}

.duihua2 {
    width: 9.375rem;
    height: 2.8125rem;
    background: url("../img/duihua.jpg") no-repeat center;
    background-size: 9.375rem 2.8125rem;
}

.duihua2 p {
    padding-left: 2.734375rem;
    padding-top: 0.625rem;
    font-size: 0.40625rem;
    padding-bottom: 0.078125rem;
}
.section2 ul {
    padding-top: 0.875rem
    overflow: hidden;
}

.section2 ul li {
    width: 4.328125rem;
    height: 3.734375rem;
    display: inline-block;
    border: 1px solid #c5c5c5;
    position: relative;
    margin-bottom: 0.859375rem;
}

.section2 ul li:nth-child(2n-1) {
    margin-left: 0.15625rem;
}

.section2 ul li:nth-child(2n) {
    margin-left: 0.390625rem;
}

.section2 ul li:nth-child(3),
.section2 ul li:nth-child(4) {
    margin-bottom: 0px;
}

.section2 ul li p {
    width: 3.0rem;
    height: 0.578125rem;
    border-radius: 0.3125rem;
    background-color: #00a0e9;
    color: #fff;
    text-align: center;
    line-height: 0.578125rem;
    font-size: 0.34375rem;
    position: absolute;
    left: 50%;
    margin-left: -1.5rem;
    top: -0.3125rem;
}

.section2 ul li img {
    width: 3.703125rem;
    height: 2.828125rem;
    display: block;
    position: absolute;
    top: 0.46875rem;
    left: 0.3125rem;
}
